<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index de la pagina</title>
</head>
<body>
    <center>
        <h1>ACORTADOR <br>
            YILBER GUEVARA & WILLIAN LEGUIZAMON
        </h1>
        <a href="{{ url_for('shortUrl') }}">
            <input type="button" value="Nuevo">
        </a>
        <a href="{{ url_for('tablaurl') }}">
            <input type="button" value="buscador">
        </a>
        <br><br>
    <h1>LA NUEVA URL ES</h1>
    <h1>
    {% for ultima in ultima %}
    <a href="{{ ultima['nueva'] }}">{{ ultima['nueva'] }}</a>
    {% endfor %}
    </h1>
    </center>
</body>
</html>