<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index de la pagina</title>
</head>
<body>
    <center>
        <h1>este es el index de la pagina</h1>
        <a href="{{ url_for('shortUrl') }}">nuevo</a>
    <table>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>NUEVA URL</th>
        </tr>
        {% for urls in urls %}
        <tr>
            <th>{{ urls['id'] }}</th>
            <th>{{ urls['url'] }}</th>
            <th>{{ urls['nueva'] }}</th>
        </tr>
        {% endfor %}
    </table>
    <h1>la nueva url es</h1>
    <h1><p>
        {{nurl}}
    </p></h1>
    </center>
</body>
</html>